{% comment %} <form action="/submit-contact-message" method="POST"> {% endcomment %}
<form action="" method="POST">
  <input type="text" name="first_name" placeholder="First name">
  <input type="text" name="last_name" placeholder="Last name">
  <input type="email" name="email" placeholder="Email">
  <input type="tel" name="phone" placeholder="Phone">
  <input type="text" name="message" placeholder="Message">
  <textarea name="message" placeholder="Message"></textarea>
  <button type="submit" onclick="alert('submit the message or something')">Send</button>
</form>
