<footer class="footer">
    <section class="section--bg-black">
        <div class="container">
            <div
                class="col-12 dash-border dash-border--left-right footer__content"
            >
                <div class="content--wrapper">
                    <div class="section--content-block">
                        <div
                            class="col-4 col-9-tablet col-9-mobile site-map"
                        >
                            <img
                                class="footer__logo"
                                src="/assets/img/logos/Verdance-logo-linen.png"
                            />
                            <div class="footer__links">
                                <a href="/careers/">Careers</a>
                                <a href="/about/">About Us</a>
                                <a href="/our-work/">Our Work</a>
                                <a href="mailto:hello@verdance.co">Contact Us</a>
                            </div>
                        </div>
                        <div
                            class="col-4 col-4-tablet display-flex--tablet display-flex--mobile flex-end--tablet flex-end--mobile"
                        >
                            <div class="cage-code-section-wrapper">
                                <div
                                    class="footer__message cage-code-section"
                                >
                                    <div class="col-6 tablet-hide mobile-hide">
                                        <div class="row section-name">Legal name</div>
                                        <div class="row section-value">Verdance LLC</div>
                                        <div class="row section-name">Cage code</div>
                                        <div class="row section-value">93UG4</div>
                                    </div>
                                    <div class="col-6 tablet-hide mobile-hide">
                                        <div class="row section-name">Duns</div>
                                        <div class="row section-value">118179441</div>
                                        <div class="row section-name">UEI</div>
                                        <div class="row section-value">94GUKNSWQMX9</div>
                                    </div>
                                    <div class="col-12 desktop-hide">
                                        <div class="row section-name">Legal name</div>
                                        <div class="row section-value">Verdance LLC</div>
                                        <div class="row section-name">Cage code</div>
                                        <div class="row section-value">93UG4</div>
                                        <div class="row section-name">Duns</div>
                                        <div class="row section-value">118179441</div>
                                        <div class="row section-name">UEI</div>
                                        <div class="row section-value">94GUKNSWQMX9</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2 display-flex flex-end" style="flex-direction: row-reverse;">
                            <img
                                class="footer__logomark tablet-hide mobile-hide"
                                src="/assets/img/logos/v-logo-yellow.svg"
                            />
                        </div>
                        <div class="col-12 desktop-hide" style="text-align: center;">
                            <img
                                class=""
                                src="/assets/img/logos/v-logo-yellow.svg"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div
                    class="footer__legal-section"
                >
                    <div class="col-6 col-12-tablet col-12-mobile footer-content-1 content--flex">
                        <p class="footer__slogan">
                            © 2024 Verdance LLC
                        </p>
                        <div class="icon-wrapper">
                            <div
                                class="footer__icon footer__icon--linen"
                            >
                                {% svgIcon "/img/icons/leaf.svg" %}
                            </div>
                            <div
                                class="footer__icon footer__icon--linen"
                            >
                                {% svgIcon "/img/icons/scales.svg" %}
                            </div>
                            <div
                                class="footer__icon footer__icon--linen"
                            >
                                {% svgIcon "/img/icons/eagle.svg" %}
                            </div>
                            <div
                                class="footer__icon footer__icon--linen"
                            >
                                {% svgIcon "/img/icons/bird.svg" %}
                            </div>
                            <div
                                class="footer__icon footer__icon--linen"
                            >
                                {% svgIcon "/img/icons/brackets.svg" %}
                            </div>
                            <div
                                class="footer__icon footer__icon--linen"
                            >
                                {% svgIcon "/img/icons/sun.svg" %}
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-12-tablet col-12-mobile footer-content-2">
                        <p class="footer__slogan">
                            Verdance builds resilient, respectful,
                            adaptable government digital services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
