<div class="col-12 job">
    <div class="col-6">{{ title }}</div>
    <div class="col-2">{{ type }}</div>
    <div class="col-4 job__cta">
        {{ location }} {% include "button", text: "apply" %}
    </div>
</div>
