<section class="roles section--spacing section--bg-linen">
    <div class="container">
        <div class="col-12 dash-border dash-border--left-right">
            <div class="content--wrapper">
                <p class="section--subtitle">open roles</p>
                <div class="section--intro">
                    <h1 class="col-5 col-12-mobile">
                        We value respect, autonomy, and flexibility.
                    </h1>
                    <div class="col-1 hide-mobile"></div>
                    <p class="col-6 col-12-mobile content--wrapper">
                        Working in civic tech can be challenging and rewarding.
                        It's not easy helping government improve the way it
                        delivers technology - but a future where it's assumed
                        that government services will work well is possible.
                        Want to help create it?
                    </p>
                    {% if jobs.length %} {% for job in jobs %} {% include "job",
                    title: job.Title, type: job.Type, location: job.Location %}
                    {% endfor %} {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
