# dependencies installed by npm
node_modules

# build artefacts
public

# ignore all hidden directories
.*/

# explicitly include individual files that begin with a .
!.*/*
!.*/**

# ignore .prettierrc file
.prettierrc

# ignore .DS_STORE files created by Finder
.DS_Store
**/.DS_Store
