# dependencies installed by npm
node_modules

# build artefacts
public

# ignore all hidden files and directories
.*

# but include specific hidden files and directories
!.eleventy.js
!.github
!.github/*
!.nvmrc
!.percy.js

# ignore .prettierrc file
.prettierrc

# ignore .DS_STORE files created by Finder
.DS_Store
**/.DS_Store
