<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/base.css" />
    </head>
    <body class="page">
        <header class="navbar">
            <div class="container">
                <div class="col-12  dash-border dash-border--left-right ">
                    <div class="navbar__content dash-border dash-border--bottom">
                        <div class="col-3">
                            <img
                                class="navbar__icon"
                                src="/assets/img/icons/leaf.svg"
                            />
                            <img
                                class="navbar__icon"
                                src="/assets/img/icons/scales.svg"
                            />
                            <img
                                class="navbar__icon"
                                src="/assets/img/icons/eagle.svg"
                            />
                        </div>
                        <div class="col-6 navbar__content--center">
                            <p class="navbar__slogan">
                                Verdance is a public interest tech firm.
                            </p>
                        </div>
                        <div class="col-3 navbar__content--right">
                            <img
                                class="navbar__icon"
                                src="/assets/img/icons/bird.svg"
                            />
                            <img
                                class="navbar__icon"
                                src="/assets/img/icons/brackets.svg"
                            />
                            <img
                                class="navbar__icon"
                                src="/assets/img/icons/sun.svg"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-12 navbar__content">
                    <div class="col-3 display-flex">
                        <a href="">Careers</a>
                        <a href="">About Us</a>
                        <a href="">Our Work</a>
                    </div>
                    <div class="col-6 navbar__content--center">
                        <p class="navbar__title">Verdance</p>
                    </div>
                    <div class="col-3 navbar__content--right display-flex">
                        <a href="">Contact Us</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        <footer class="footer">
            <section class="section--bg-black">
                <div class="container">
                    <div class="col-12 dash-border dash-border--left-right"> 
                        <div class="content--wrapper">
                            <div class="section--intro">
                                <img class="col-5" src="" />
                                <div class="col-7"></div>
                            </div>
                            <div class="section--content-block">
                                <div class="col-6 site-map dash-border dash-border--right">
                                    <img class="footer--logo" src="assets/img/logos/Verdance-logo-linen.png"/>
                                    <!-- <div class="toc--item">
                                        <div class="dot-leader">
                                            <p>Careers</p>
                                            <div class="hr"></div>
                                            <img src="/assets/img/icons/arrow-right"/>
                                        </div>
                                    </div>
                                    <div class="toc--item">
                                        <div class="dot-leader">
                                            <p>About Us</p>
                                            <div class="hr"></div>
                                            <img src="/assets/img/icons/arrow-right"/>
                                        </div>
                                    </div>
                                    <div class="toc--item">
                                        <div class="dot-leader">
                                            <p>Our Work</p>
                                            <div class="hr"></div>
                                            <img src="/assets/img/icons/arrow-right"/>
                                        </div>
                                    </div>
                                    <div class="toc--item">
                                        <div class="dot-leader">
                                            <p>Contact Us</p>
                                            <div class="hr"></div>
                                            <img src="/assets/img/icons/arrow-right"/>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-6">
                                    <div class="content--wrapper">
                                        <div class="footer--message">
                                            <div class="col-8">
                                                <h3>Join our Team!</h3>
                                                <p>
                                                    We're building towards a future where government digital services work smoothly from day one. Interested in helping us?
                                                </p>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-3">
                                                <img class="footer--logomark" src="/assets/img/logos/v-logomark-text-yellow.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </body>
</html>
