<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/base.css" />
    </head>
    <body class="page">
        <header class="navbar">
            <div
                class="container container--no-padding dash-border dash-border--left-right"
            >
                <div
                    class="col-12 navbar__content dash-border dash-border--bottom"
                >
                    <div class="col-3">
                        <img
                            class="navbar__icon"
                            src="/assets/img/icons/leaf.svg"
                        />
                        <img
                            class="navbar__icon"
                            src="/assets/img/icons/scales.svg"
                        />
                        <img
                            class="navbar__icon"
                            src="/assets/img/icons/eagle.svg"
                        />
                    </div>
                    <div class="col-6 navbar__content--center">
                        <p class="navbar__slogan">
                            Verdance is a public interest tech firm.
                        </p>
                    </div>
                    <div class="col-3 navbar__content--right">
                        <img
                            class="navbar__icon"
                            src="/assets/img/icons/bird.svg"
                        />
                        <img
                            class="navbar__icon"
                            src="/assets/img/icons/brackets.svg"
                        />
                        <img
                            class="navbar__icon"
                            src="/assets/img/icons/sun.svg"
                        />
                    </div>
                </div>
                <div class="col-12 navbar__content">
                    <div class="col-3 display-flex">
                        <a href="">Careers</a>
                        <a href="">About Us</a>
                        <a href="">Our Work</a>
                    </div>
                    <div class="col-6 navbar__content--center">
                        <p class="navbar__title">Verdance</p>
                    </div>
                    <div class="col-3 navbar__content--right display-flex">
                        <a href="">Contact Us</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        <footer class="footer"></footer>
    </body>
</html>
