<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/base.css" />
    </head>
    <body class="page">
        <header class="navbar">
            <div class="container">
                <div
                    id="slogan-strip"
                    class="col-12 dash-border dash-border--left-right"
                >
                    <div class="slogan-strip dash-border dash-border--bottom">
                        <div class="col-3">
                            <div class="slogan-strip__icon">
                                {% svgIcon "/img/icons/leaf.svg" %}
                            </div>
                            <div class="slogan-strip__icon">
                                {% svgIcon "/img/icons/scales.svg" %}
                            </div>
                            <div class="slogan-strip__icon">
                                {% svgIcon "/img/icons/eagle.svg" %}
                            </div>
                        </div>
                        <div class="slogan-strip__slogan content--center">
                            <p>A public interest tech firm</p>
                        </div>
                        <div class="col-3 content--right">
                            <div class="slogan-strip__icon">
                                {% svgIcon "/img/icons/bird.svg" %}
                            </div>
                            <div class="slogan-strip__icon">
                                {% svgIcon "/img/icons/brackets.svg" %}
                            </div>
                            <div class="slogan-strip__icon">
                                {% svgIcon "/img/icons/sun.svg" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 navbar__content">
                    <div class="navbar__left display-flex">
                        <a href="/careers.html">Careers</a>
                        <a href="/about.html">About Us</a>
                        <a class="tablet-hide mobile-hide" href="/our-work.html"
                            >Our Work</a
                        >
                    </div>
                    <div class="navbar__title content--center">
                        <a href="/">Verdance</a>
                    </div>
                    <div class="navbar__right content--right display-flex">
                        <a class="desktop-hide" href="/our-work.html"
                            >Our Work</a
                        >
                        <a href="">Contact Us</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        <footer class="footer">
            <section class="section--bg-black">
                <div class="container">
                    <div
                        class="col-12 dash-border dash-border--left-right footer__content"
                    >
                        <div class="content--wrapper">
                            <div class="section--content-block">
                                <div
                                    class="col-6 col-9-tablet col-9-mobile site-map dash-border dash-border--right"
                                >
                                    <img
                                        class="footer__logo"
                                        src="assets/img/logos/Verdance-logo-linen.png"
                                    />
                                    <div class="footer__links">
                                        <a href="/careers.html">Careers</a>
                                        <a href="/about.html">About Us</a>
                                        <a href="/our-work.html">Our Work</a>
                                        <a href="">Contact Us</a>
                                    </div>
                                    <div class="desktop-hide">
                                        <h3>Join our Team!</h3>
                                        <p>
                                            We're building towards a future
                                            where government digital services
                                            work smoothly from day one.
                                            Interested in helping us?
                                        </p>
                                        {% include "button", text: "see open
                                        roles", style: "chartreuse-text"
                                        additionalStyle: "footer__cta" %}
                                    </div>
                                </div>
                                <div
                                    class="col-6 col-3-tablet col-3-mobile display-flex--tablet display-flex--mobile flex-end--tablet flex-end--mobile"
                                >
                                    <img
                                        class="footer__logomark desktop-hide"
                                        src="/assets/img/logos/v-logomark-text-yellow.png"
                                    />
                                    <div class="content--wrapper">
                                        <div
                                            class="footer__message tablet-hide mobile-hide"
                                        >
                                            <div class="col-8">
                                                <h3>Join our Team!</h3>
                                                <p>
                                                    We're building towards a
                                                    future where government
                                                    digital services work
                                                    smoothly from day one.
                                                    Interested in helping us?
                                                </p>
                                                {% include "button", text: "see
                                                open roles", style:
                                                "chartreuse-text"
                                                additionalStyle: "footer__cta"
                                                %}
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-3">
                                                <img
                                                    class="footer__logomark"
                                                    src="/assets/img/logos/v-logomark-text-yellow.png"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 dash-border dash-border--left-right">
                        <div
                            class="footer__legal-section dash-border dash-border--top"
                        >
                            <div class="col-6 content--flex">
                                <p class="footer__slogan">
                                    © 2024 verdance, inc.
                                </p>
                                <div>
                                    <div
                                        class="footer__icon footer__icon--linen"
                                    >
                                        {% svgIcon "/img/icons/leaf.svg" %}
                                    </div>
                                    <div
                                        class="footer__icon footer__icon--linen"
                                    >
                                        {% svgIcon "/img/icons/scales.svg" %}
                                    </div>
                                    <div
                                        class="footer__icon footer__icon--linen"
                                    >
                                        {% svgIcon "/img/icons/eagle.svg" %}
                                    </div>
                                    <div
                                        class="footer__icon footer__icon--linen"
                                    >
                                        {% svgIcon "/img/icons/bird.svg" %}
                                    </div>
                                    <div
                                        class="footer__icon footer__icon--linen"
                                    >
                                        {% svgIcon "/img/icons/brackets.svg" %}
                                    </div>
                                    <div
                                        class="footer__icon footer__icon--linen"
                                    >
                                        {% svgIcon "/img/icons/sun.svg" %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 content--right">
                                <p class="footer__slogan">
                                    Verdance is building digital services to
                                    improve outcomes for people.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </body>
</html>
