---
layout: layout.liquid
title: Verdance About
permalink: /about/
---

<div class="about-page">
    <section class="hero section--spacing section--bg-linen">
        <div class="container">
            <div class="hero__content col-12">
                <h1>
                    We continuously refine our approach <br />
                    to delivering successful digital services.
                </h1>
                <img src="/assets/img/AboutUs.webp" />
                <div class="hero__cta">
                    <div class="subtitle">Our vision</div>
                    <div class="hr"></div>
                    <div><img src="/assets/img/icons/arrow-down.svg" /></div>
                </div>
            </div>
        </div>
    </section>
    <section class="beliefs section--bg-linen">
        <div class="container">
            <div class="col-12">
                <div class="section--intro">
                    <h1
                        class="col-5 col-12-tablet col-12-mobile section--spacing"
                    >
                        The world of civic technology is wide and complex.
                    </h1>
                    <div class="col-1 tablet-hide mobile-hide"></div>
                    <div
                        class="col-5 col-12-tablet col-12-mobile content--bottom section--spacing"
                    >
                        <p>
                            It’s often a substantial adjustment for folks who
                            haven’t previously done government work. Here are a
                            few of our strongly held beliefs about succeeding as
                            technologists in government:
                        </p>
                    </div>
                    <div class="col-1 tablet-hide mobile-hide"></div>
                </div>
                <div class="section--content-block">
                    <div
                        class="col-5 col-12-tablet col-12-mobile section--spacing"
                    >
                        <div class="who-we-are__icon">
                            {% svgIcon "/img/icons/sun.svg" %}
                        </div>
                        <h2>Think in systems</h2>
                        <p>
                            Our work often affects technology, policy, and
                            people, and most of what we do has second-order
                            effects. If we strive to understand and predict the
                            effects of an intervention on the whole system, we
                            have a better handle on our impact. We remain
                            focused on our piece of the puzzle, but we avoid
                            silos and don’t shy away from the big picture.
                        </p>
                    </div>
                    <div class="col-1 tablet-hide mobile-hide"></div>
                    <div
                        class="col-5 col-12-tablet col-12-mobile section--spacing"
                    >
                        <div class="who-we-are__icon">
                            {% svgIcon "/img/icons/brackets.svg" %}
                        </div>
                        <h2>Build bridges, not just tech</h2>
                        <p>
                            As technologists working in government, our
                            backgrounds can often be different from the folks we
                            interact with. The relationships we build - with our
                            clients, with partner companies, and with government
                            folks once or twice removed from our direct
                            stakeholders - give us the ability to continue to
                            grow and scale our impact over the long-term. We
                            take the extra step to understand the perspective of
                            folks with different backgrounds or prior experience
                            than ours.
                        </p>
                    </div>
                    <div class="col-1 tablet-hide mobile-hide"></div>
                </div>
                <div class="section--content-block">
                    <div
                        class="col-5 col-12-tablet col-12-mobile section--spacing"
                    >
                        <div class="who-we-are__icon">
                            {% svgIcon "/img/icons/eagle.svg" %}
                        </div>
                        <h2>Advocate for the public interest</h2>
                        <p>
                            We strive to center the public interest in our
                            thinking. When shaping complex government systems,
                            it’s easy to miss the forest for the trees. If the
                            public interest perspective is missing in the
                            conversation, we go out of our way to respectfully
                            add it.
                        </p>
                    </div>
                    <div class="col-1 tablet-hide mobile-hide"></div>
                    <div
                        class="col-5 col-12-tablet col-12-mobile section--spacing"
                    >
                        <div class="who-we-are__icon">
                            {% svgIcon "/img/icons/leaf.svg" %}
                        </div>
                        <h2>Compromise is vital</h2>
                        <p>
                            We bring healthy idealism to the table, but are
                            unafraid to compromise in order to move forward. We
                            believe in incremental, repeatable progress over the
                            long run, and we celebrate the small and medium
                            sized wins as well as the large ones.
                        </p>
                    </div>
                    <div class="col-1 tablet-hide mobile-hide"></div>
                </div>
                <div class="section--content-block">
                    <div
                        class="col-5 col-12-tablet col-12-mobile section--spacing"
                    >
                        <img src="/assets/img/Iceberg.webp" />
                    </div>
                    <div class="col-1 tablet-hide mobile-hide"></div>
                    <div
                        class="col-5 col-12-tablet col-12-mobile section--spacing"
                    >
                        <h2>Balance is mission-critical</h2>
                        <p>
                            Mission-oriented work too often leads to burnout and
                            exhaustion. We build technology to build public
                            trust, but keeping levity and humanity at the core
                            of our work is key to longevity. We do our best to
                            be cognizant of the balance that’s necessary to be
                            around for the long term.
                        </p>
                    </div>
                    <div class="col-1 tablet-hide mobile-hide"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-history section--spacing section--bg-chartreuse">
        <div class="container">
            <p class="col-12 section--subtitle">a little bit of history</p>
            <div class="col-12 dash-border dash-border--left-right">
                <div class="section--intro">
                    <div class="col-5 col-12-tablet col-12-mobile">
                        <div class="content--wrapper">
                            <h1>
                                Verdance was founded after nearly a decade of
                                civic tech experience.
                            </h1>
                        </div>
                    </div>
                    <div class="col-7 tablet-hide mobile-hide"></div>
                </div>
                <div class="section--content-block">
                    <div
                        class="col-6 col-12-tablet col-12-mobile content--bottom dash-border dash-border--right"
                    >
                        <div class="content--wrapper">
                            <p>
                                In prior roles, members of our team helped
                                rebuild HealthCare.gov, helped start the first
                                digital service office in Congress, and worked
                                in private sector tech unicorns, giants, and
                                startups. We’ve seen the civic tech movement
                                grow over the last ten years - and the need
                                remains strong for mission-aligned,
                                talent-driven firms that help government
                                agencies with the upper echelon of technology
                                issues.
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-12-tablet col-12-mobile">
                        <div class="content--wrapper">
                            <p class="subtitle">Founded in 2021</p>
                            <img src="/assets/img/Gears.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
