---
layout: layout.liquid
title: Verdance About
permalink: /about.html
---

<div class="about-page">
    <section class="hero section--spacing section--bg-linen">
        <div class="container">
            <div class="col-1"></div>
            <div class="hero__content col-10">
                <h1>
                    Verdance is a public interest tech firm <br />
                    improving outcomes for people.
                </h1>
                <img src="/assets/img/verdance-hero.jpeg" />
                <div class="hero__cta">
                    <div class="subtitle">Our vision</div>
                    <div class="hr"></div>
                    <div><img src="/assets/img/icons/arrow-down.svg" /></div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </section>
    <section class="beliefs section--spacing section--bg-linen">
		<div class="container">
			<div class="col-1"></div>
			<div class="col-10">
                <div class="content--wrapper">
                    <div class="section--intro">
                        <h1 class="col-5"> The world of civic technology is wide and complex.</h1>
                        <div class="col-2"></div>
                        <div class="col-5 content--bottom">
							<p>It’s often a substantial adjustment for folks who haven’t previously done government work. Here are a few of our strongly held beliefs about succeeding as technologists in government:</p>
                        </div>
                    </div>
                    <div class="section--content-block section--spacing">
                        <div class="col-5">
							<div class="illo-temp illo-temp--spot"><p>spot illo</p></div>
	                        <h2>Think in systems</h2>
							<p>Our work often affects technology, policy, and people, and most of what we do has second-order effects. If we strive to understand and predict the effects of an intervention on the whole system, we have a better handle on our impact. We remain focused on our piece of the puzzle, but we avoid silos and don’t shy away from the big picture.</p>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5">
							<div class="illo-temp illo-temp--spot"><p>spot illo</p></div>
	                        <h2>Build bridges, not tech</h2>
	                        <p>As technologists working in government, our backgrounds can often be different from the folks we interact with. The relationships we build - with our clients, with partner companies, and with government folks once or twice removed from our direct stakeholders - give us the ability to continue to grow and scale our impact over the long-term. We take the extra step to understand the perspective of folks with different backgrounds or prior experience than ours, and we communicate our mission clearly.
	                        </p>
                        </div>
                    </div>
                    <div class="section--content-block section--spacing">
                        <div class="col-5">
							<div class="illo-temp illo-temp--spot"><p>spot illo</p></div>
	                        <h2>Advocate for the public interest</h2>
	                        <p>We strive to center the public interest in our thinking. When shaping complex government systems, it’s easy to miss the forest for the trees. If the public interest perspective is missing in the conversation, we go out of our way to respectfully add it.</p>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5">
							<div class="illo-temp illo-temp--spot"><p>spot illo</p></div>
	                        <h2>Build bridges, not tech</h2>
	                        <p>We bring healthy idealism to the table, but are unafraid to compromise in order to move forward. We believe in incremental, repeatable progress over the long run, and we celebrate the small and medium sized wins as well as the large ones.</p>
                        </div>
                    </div>
                    <div class="section--content-block section--spacing">
                        <div class="col-5">
							<div class="illo-temp illo-temp--midsize"><p>mid-size illo</p></div>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5">
	                        <h2>Balance is mission-critical</h2>
	                        <p>Mission-oriented work too often leads to burnout and exhaustion. We build technology to build public trust, but keeping levity and humanity at the core of our work is key to longevity. We do our best to be cognizant of the balance that’s necessary to be around for the long term.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
    </section>
</div>