---
layout: layout.liquid
title: Verdance | Blog
permalink: /blog/
---

<div class="our-work-page">
    <section class="hero section--spacing section--bg-chartreuse">
        <div class="container">
            <div class="col-12">
                <div class="content--wrapper">
                    <div class="section--intro">
                        <h1 class="col-5 col-12-tablet col-12-mobile">
                            We have ideas about how government can be more
                            effective.
                        </h1>
                        <div class="col-1 tablet-hide mobile-hide"></div>
                        <img
                            class="col-6 col-12-tablet col-12-mobile"
                            src="/assets/img/Gears.webp"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="roles" class="roles section--spacing section--bg-linen">
        <div class="container">
            <p class="section--subtitle col-12">BLOGPOSTS</p>
            {% if posts.length %} {% for post in posts %} {% include
            "blog_post_card", post: post %} {% endfor %} {% else %}
            <p>No posts yet.</p>
            {% endif %}
        </div>
    </section>
</div>
