---
layout: layout.liquid
title: Verdance Careers
permalink: /careers.html
---

<div class="careers-page">
	<section class="careers-intro section--spacing section--bg-linen">
	    <div class="container">
	        <div class="col-12 dash-border dash-border--left-right">
	            <div class="content--wrapper">
	                <div class="section--content-block">
	                    <div class="col-6 content--bottom dash-border dash-border--right">
	                        <h1>We're a home for curious technologists.</h1>
	                        <p>We are curious, talented, humble, patient technologists who want to take on the challenge of making government digital services more effective.
	                        </p>
	                    </div>
	                    <div class="col-6">
	                        <div class="content--wrapper">
	                            <p class="subtitle">what type of team we're building</p>
	                            <p>As a small team (for now), the breadth of our work is remarkable—we're working on critical, impactful projects across several agencies.
	                            </p>
	                            <div class="illo-temp illo-temp--midsize"> <p>mid-size illo</p> </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	{% include "section_roles" %}
	<section class="hiring-process section--spacing section--bg-dark-linen">
		<div class="container">
			<div class="col-12">
				<div class="content--wrapper">
					<p class="section--subtitle">respecting your time</p>
					<div class="section--intro">
	                    <h1 class="col-5">Hiring Process</h1>
	                    <div class="col-1"></div>
	                    <p class="col-6 content--wrapper">We strive to create a transparent process that respects your time. Here’s how our interview process is structured:
	                    </p>
	                </div>
	                <div class="section--content-block hiring-step-group">
	                    <div class="col-3 hiring-step">
	                    	<div class="illo-temp illo-temp--spot"><p>spot illo</p></div>
	                        <p class="subtitle">15 Minutes</p>
	                        <h2>Introductory recruiter call</h2>
	                        <p>You’ll spend some time with our recruiting team aligning on the high-level attributes we’re looking for at Verdance, and we’ll inquire about your interests and goals.
	                        </p>
	                    </div>
	                    <div class="col-3 hiring-step">
	                    	<div class="illo-temp illo-temp--spot"><p>spot illo</p></div>
	                        <p class="subtitle">40 Minutes</p>
	                        <h2>Career history review</h2>
	                        <p>We’ll dig a bit deeper into your experiences so far in this round with a lightly guided conversation. You’ll have the chance to ask detailed questions about the role and team. This round won’t require a skills demonstration.
	                        </p>
	                    </div>
	                    <div class="col-3 hiring-step">
	                    	<div class="illo-temp illo-temp--spot"><p>spot illo</p></div>
	                        <p class="subtitle">90-120 Minutes</p>
	                        <h2>Domain-specific interviews</h2>
	                        <p>Engineering roles: includes a take home exercise, in-person coding and architecture interviews.
	                        </p>
	                        <p>Design roles: includes a portfolio review and interview with collaborators.
	                        </p>
	                    </div>
	                    <div class="col-3 hiring-step">
	                    	<div class="illo-temp illo-temp--spot"><p>spot illo</p></div>
	                        <p class="subtitle">2 days</p>
	                        <h2>Offer</h2>
	                        <p>We usually take about 2 days to review as a team and make a decision. If all goes well, we make an offer! Either way, we won't keep you waiting.
	                        </p>
	                    </div>
	                </div>
				</div>
			</div>
		</div>
	</section>
	<section class="experience section--spacing section--bg-dark-linen">
        <div class="container">
            <div class="col-12 dash-border dash-border--left-right">
                <div class="content--wrapper">
                    <div class="section--intro">
                    	<h1 class="col-12">Benefits</h1>
                    </div>
	                <div class="section--content-block">
	                    <div class="col-6 content--bottom dash-border dash-border--right">
	                        <div class="toc--item">
	                        	<p class="large-text">30+ Days off per year</p>
	                            <div class="dot-leader">
	                                <p class="small-text">Including 20 PTO and 11 Federal holidays</p>
	                                <div class="hr"></div>
	                                <img src="/assets/img/icons/sun.svg"/>
	                            </div>
	                        </div>
	                        <div class="toc--item">
	                        	<p class="large-text">Flexible schedule</p>
	                            <div class="dot-leader">
	                                <p class="small-text">Fully remote day-to-day</p>
	                                <div class="hr"></div>
	                                <img src="/assets/img/icons/eagle.svg"/>
	                            </div>
	                        </div>
	                        <div class="toc--item">
	                        	<p class="large-text">401k Matching</p>
	                            <div class="dot-leader">
	                                <p class="small-text">We match at up to 4% of your salary</p>
	                                <div class="hr"></div>
	                                <img src="/assets/img/icons/brackets.svg"/>
	                            </div>
	                        </div>
	                        <div class="toc--item">
	                        	<p class="large-text">Insurance</p>
	                            <div class="dot-leader">
	                                <p class="small-text">Including health, vision, and dental</p>
	                                <div class="hr"></div>
	                                <img src="/assets/img/icons/flower.svg"/>
	                            </div>
	                        </div>
	                        <div class="toc--item">
	                        	<p class="large-text">In-person retreats</p>
	                            <div class="dot-leader">
	                                <p class="small-text">Periodic and optional in-person retreats</p>
	                                <div class="hr"></div>
	                                <img src="/assets/img/icons/leaf.svg"/>
	                            </div>
	                        </div>
	                        <div class="toc--item">
	                        	<p class="large-text">Home office</p>
	                            <div class="dot-leader">
	                                <p class="small-text">Macbook and 2k stipend for equipment</p>
	                                <div class="hr"></div>
	                                <img src="/assets/img/icons/sun-spot.svg"/>
	                            </div>
	                        </div>
	                        <div class="toc--item">
	                        	<p class="large-text">Professional development</p>
	                            <div class="dot-leader">
	                                <p class="small-text">Yearly budget for courses, conferences, etc.</p>
	                                <div class="hr"></div>
	                                <img src="/assets/img/icons/bird.svg"/>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-6">
	                        <div class="content--wrapper">
	                            <p class="subtitle">we're competitive</p>
	                            <p>We do our best to offer a slate of benefits that matches much bigger orgs.
	                            </p>
	                            <div class="illo-temp illo-temp--midsize"> <p>mid-size illo</p> </div>
	                            <h2>Something about the benefits philosophy could go here.</h2>
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
        </div>
    </section>
</div>