---
layout: layout.liquid
title: Verdance Careers
permalink: /careers/
---

<div class="careers-page">
    <section class="careers-intro section--spacing section--bg-linen">
        <div class="container">
            <div class="col-12 dash-border dash-border--left-right">
                <div class="content--wrapper">
                    <div class="section--content-block">
                        <div
                            class="col-6 col-12-mobile content--bottom dash-border dash-border--right"
                        >
                            <h1>We're a home for curious technologists.</h1>
                            <p>
                                Though we're a small team (for now), the breadth
                                of our work is remarkable—we're working on
                                critical, impactful projects across several
                                agencies.
                            </p>
                        </div>
                        <div class="col-6 col-12-mobile">
                            <div class="content--wrapper">
                                <p class="subtitle">
                                    what type of team we're building
                                </p>
                                <p>
                                    We're up for the challenge of making digital
                                    services more effective, and we're building
                                    an ambitious, talented team. At the same
                                    time, we prize humility, playfulness, and
                                    patience.
                                </p>
                                <img src="/assets/img/OurWorkTransparent.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "section_roles" %}
    <section class="hiring-process section--spacing section--bg-dark-linen">
        <div class="container">
            <div class="col-12">
                <div class="content--wrapper">
                    <p class="section--subtitle">getting to know each other</p>
                    <div class="section--intro">
                        <h1 class="col-5 col-12-tablet col-12-mobile">
                            Hiring Process
                        </h1>
                        <div class="col-1 tablet-hide mobile-hide"></div>
                        <p
                            class="col-6 col-12-tablet col-12-mobile content--wrapper"
                        >
                            We strive to create a transparent process that
                            respects your time. Here’s how our interview process
                            is structured:
                        </p>
                    </div>
                    <div class="section--content-block hiring-step-group">
                        <div
                            class="col-3 col-6-tablet col-12-mobile hiring-step"
                        >
                            <div class="who-we-are__order">1st</div>
                            <p class="subtitle">15 Minutes</p>
                            <h2>Introductory recruiter call</h2>
                            <p>
                                You’ll spend some time with our recruiting team
                                aligning on the high-level attributes we’re
                                looking for at Verdance, and we’ll inquire about
                                your interests and goals.
                            </p>
                        </div>
                        <div
                            class="col-3 col-6-tablet col-12-mobile hiring-step"
                        >
                            <div class="who-we-are__order">2nd</div>
                            <p class="subtitle">40 Minutes</p>
                            <h2>Career history review</h2>
                            <p>
                                In this round, we’ll dig a bit deeper into your
                                experiences with a lightly guided conversation.
                                You’ll have the chance to ask questions about
                                the role and team. This round won’t require a
                                technical exercise.
                            </p>
                        </div>
                        <div
                            class="col-3 col-6-tablet col-12-mobile hiring-step"
                        >
                            <div class="who-we-are__order">3rd</div>
                            <p class="subtitle">90-120 Minutes</p>
                            <h2>Domain-specific interviews</h2>
                            <p>
                                For engineering roles, for example, we'll start
                                with a take home exercise, then have live coding
                                and architecture interviews.
                            </p>
                            <p>
                                For design roles, we'll run interviews focused
                                on your portfolio, case studies, and
                                collaboration.
                            </p>
                        </div>
                        <div
                            class="col-3 col-6-tablet col-12-mobile hiring-step"
                        >
                            <div class="who-we-are__order">4th</div>
                            <p class="subtitle">a few days</p>
                            <h2>Offer</h2>
                            <p>
                                We usually take a few days to review as a team
                                and make a decision. If all goes well, we make
                                an offer! Either way, we won't keep you waiting.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="experience section--spacing section--bg-dark-linen">
        <div class="container">
            <div class="col-12 dash-border dash-border--left-right">
                <div class="content--wrapper">
                    <div class="section--intro">
                        <h1 class="col-12">Benefits</h1>
                    </div>
                    <div class="section--content-block">
                        <div
                            class="col-6 col-12-tablet col-12-mobile content--bottom dash-border dash-border--right dash-border--hide-tablet dash-border--hide-mobile"
                        >
                            <div class="toc--item">
                                <p class="large-text">30+ days off per year</p>
                                <div class="dot-leader">
                                    <p class="small-text">
                                        We offer 20 days of PTO and 11 federal
                                        holidays off each year.
                                    </p>
                                    <div class="hr"></div>
                                    <img src="/assets/img/icons/sun.svg" />
                                </div>
                            </div>
                            <div class="toc--item">
                                <p class="large-text">
                                    Fully remote, flexible work schedules
                                </p>
                                <div class="dot-leader">
                                    <p class="small-text">
                                        You can work from anywhere in the
                                        continental US.
                                    </p>
                                    <div class="hr"></div>
                                    <img src="/assets/img/icons/eagle.svg" />
                                </div>
                            </div>
                            <div class="toc--item">
                                <p class="large-text">
                                    401(k) matching contributions
                                </p>
                                <div class="dot-leader">
                                    <p class="small-text">
                                        To incentivize retirement savings, we'll
                                        match contributions at up to 4% of your
                                        salary.
                                    </p>
                                    <div class="hr"></div>
                                    <img src="/assets/img/icons/brackets.svg" />
                                </div>
                            </div>
                            <div class="toc--item">
                                <p class="large-text">
                                    Health, vision, and dental insurance
                                </p>
                                <div class="dot-leader">
                                    <p class="small-text">
                                        Our reference health plan is a gold
                                        plan.
                                    </p>
                                    <div class="hr"></div>
                                    <img src="/assets/img/icons/flower.svg" />
                                </div>
                            </div>
                            <div class="toc--item">
                                <p class="large-text">
                                    In-person retreats and gatherings
                                </p>
                                <div class="dot-leader">
                                    <p class="small-text">
                                        We bring the team together in-person for
                                        periodic and optional retreats.
                                    </p>
                                    <div class="hr"></div>
                                    <img src="/assets/img/icons/leaf.svg" />
                                </div>
                            </div>
                            <div class="toc--item">
                                <p class="large-text">Home office</p>
                                <div class="dot-leader">
                                    <p class="small-text">
                                        We'll provide your choice of work
                                        computer and a $1,000 stipend.
                                    </p>
                                    <div class="hr"></div>
                                    <img src="/assets/img/icons/sun-spot.svg" />
                                </div>
                            </div>
                            <div class="toc--item">
                                <p class="large-text">
                                    Professional development
                                </p>
                                <div class="dot-leader">
                                    <p class="small-text">
                                        Use a yearly $2,000 budget to further
                                        your skills.
                                    </p>
                                    <div class="hr"></div>
                                    <img src="/assets/img/icons/bird.svg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-12-tablet col-12-mobile">
                            <div class="content--wrapper">
                                <p class="subtitle">
                                    support beyond your salary
                                </p>
                                <p>
                                    We do our best to offer a slate of benefits
                                    that matches much bigger orgs.
                                </p>
                                <img src="/assets/img/Iceberg.png" />
                                <h2>For your health, future, and growth.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
