---
layout: layout.liquid
title: Verdance Our Work
permalink: /our-work/
---

<div class="our-work-page">
    <section class="hero section--spacing section--bg-linen">
        <div class="container">
            <div class="col-12">
                <div class="content--wrapper">
                    <p class="section--subtitle">Our work</p>
                    <div class="section--intro">
                        <h1 class="col-5 col-12-tablet col-12-mobile">
                            We work on the systems that serve citizens.
                        </h1>
                        <div class="col-1 tablet-hide mobile-hide"></div>
                        <p
                            class="col-6 tablet-hide mobile-hide content--wrapper"
                        >
                            Whether it's data migration, responsive UIs, tech 
                            stack modernization, or user research, we choose work 
                            that is centered on the everyday American. Check out 
                            what we've been up to.
                        </p>
                        <p class="desktop-hide col-12-tablet col-12-mobile">
                            Whether it's data migration, responsive UIs, tech 
                            stack modernization, or user research, we choose work 
                            that is centered on the everyday American. Check out 
                            what we've been up to.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'our_work_org_card', 
        description: "It’s complex to both apply for these benefits and for VA to make accurate eligibility decisions. The PACT Act was a historic expansion of these benefits, and required VA to make sweeping changes to handle the increased volume and new requirements. We’ve been engaged in several efforts to improve Veterans’ benefits technology, including redesigning the disability benefits application form and using data science models to help VA process claims more efficiently.",
        logo: "/assets/img/partners/VA-seal.png",
        name: "Veterans Affairs",
        screenshot: "/assets/img/screenshots/VA.png",
        subheading: "More than 5 million Veterans receive disability benefits from VA for conditions connected to their service.",
        type_of_work: "API work - data migration",
    %}
    {% include 'our_work_org_card', 
        description: "The Data at the Point of Care API, currently in pilot mode, lets Medicare beneficiaries ensure their providers have access to their medical information from different doctors, so their medical team can deliver a higher standard of care. We’re helping make the changes to roll out this API to far larger groups, ensuring it’s secure, resilient, and accurate.",
        logo: "/assets/img/partners/CMS-logo.png",
        name: "Centers for Medicare & Medicaid Services",
        screenshot: "/assets/img/screenshots/DPC.png",
        subheading: "In 2023, health care data still isn’t where it needs to be to be most useful.",
        type_of_work: "API work - data migration",
    %}
    {% include 'our_work_org_card', 
        description: "We’re helping CDC build a platform called ReportStream to ensure we have better quality disease data when we need it, to support any condition that becomes necessary. The platform is rolled out in 35+ states and counting.",
        logo: "/assets/img/partners/CDC-logo-transparent-bg.png",
        name: "Centers for Disease Control",
        screenshot: "/assets/img/screenshots/Report Stream.png",
        subheading: "The COVID years exposed a lack of national technology infrastructure to seamlessly and accurately report disease information.",
        type_of_work: "API work - data migration",
    %}
</div>
