---
layout: layout.liquid
title: Verdance Our Work
permalink: /our-work/
---

<div class="our-work-page">
    <section class="hero section--spacing section--bg-linen">
        <div class="container">
            <div class="col-12">
                <div class="content--wrapper">
                    <p class="section--subtitle">Our work</p>
                    <div class="section--intro">
                        <h1 class="col-5 col-12-tablet col-12-mobile">
                            We work on the systems that serve citizens.
                        </h1>
                        <div class="col-1 tablet-hide mobile-hide"></div>
                        <p
                            class="col-6 tablet-hide mobile-hide content--wrapper"
                        >
                            Whether it's data migration, responsive UIs, tech 
                            stack modernization, or user research, we choose work 
                            that is centered on the everyday American. Check out 
                            what we've been up to.
                        </p>
                        <p class="desktop-hide col-12-tablet col-12-mobile">
                            Whether it's data migration, responsive UIs, tech 
                            stack modernization, or user research, we choose work 
                            that is centered on the everyday American. Check out 
                            what we've been up to.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% for organization in our_work_organizations %}
        {% include 'our_work_org_card', organization_name: organization.name %}
    {% endfor %}
</div>
