@use "foundation" as *;
@use "shared" as *;

//  Responsive


// Page Specific

.homepage {
  & .experience {
    &__cta {
      margin-top: 48px;
      display: flex;
      justify-content: space-between;
      align-items: end;

      h2 {
        margin: 0;
      }
    }

    &__text {
      margin: 32px 0 24px;
    }

    &__delivery-list {
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
  }
}

.careers-page {
  & .hiring-step-group {
    margin-top: 48px;
  }

  & .hiring-step {
    margin-right: 48px;
  }
}