@use "foundation" as *;
@use "shared" as *;

//  Responsive


// Page Specific

.homepage {
  & .experience {
    &__cta {
      margin-top: 48px;
      display: flex;
      justify-content: space-between;
      align-items: end;

      h2 {
        margin: 0;
      }
    }

    &__text {
      margin: 32px 0 24px;
    }

    &__delivery-list {
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
  }

  & .who-we-are {
    &__icon {
      height: 64px;
      width: 64px;
    }
  }

  & .experience-showcase {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1440px;
    margin: 0 auto;
    padding: 48px 48px 0 48px;

    @include tablet-media-query {
      grid-template-columns: repeat(12, 1fr);
      max-width: 769px;
      padding: 0 24px;
    }

    @include mobile-media-query {
      grid-template-columns: repeat(12, 1fr);
      max-width: 376px;
      padding: 0 16px;
    }

    &__item {
      height: 288px;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      @include tablet-media-query {
        height: 150px;
      }

      @include mobile-media-query {
        height: 100px;
      }

      img {
        width: 50%;
      }
    }
  }
}

.about-page {
  & .who-we-are {
    &__icon {
      height: 64px;
      width: 64px;
    }
  }
}

.careers-page {
  & .who-we-are {
    &__icon {
      height: 64px;
      width: 64px;
    }
    &__order {
      align-self: flex-end;
      color: inherit;
      font-family: "PPNeueBitBold", "Tahoma", "san-serif";
      font-size: 48px;
      text-decoration: none;
      text-transform: uppercase;
      height: 48px;
      width: 48px;
    }
  }

  & .hiring-step {
    @include tablet-media-query {
      margin-bottom: 24px;
    }
  }
}

.navbar {
  a.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
}