@use "foundation" as *;

// Shared Components

.section {
  &--bg-linen {
    background-color: $linen;
    color: $black;
  }

  &--bg-dark-linen {
    background-color: $dark-linen;
    color: $black;
  }

  &--bg-chartreuse {
    background-color: $chartreuse;
    color: $black;
  }

  &--bg-black {
    background-color: $black;
  }
  &--spacing {
    padding: 98px 0;
  }

  &--intro {
    @include grid-layout;

    h1 {
      margin-top: 0;
    }
  }

  &--subtitle {
    font-family: 'PPNeueBit-Bold', 'Tahoma', 'san-serif';
    font-size: 24px;
    margin-bottom: 32px;
    text-transform: uppercase;
  }


  &--content-block {
    @include grid-layout;
  }

}

.hero {
  &__content {
    text-align: center;
  }

  &__subhero {
    font-size: 20px;
    margin: 48px 0;

    @include tablet-media-query {
      font-size: 18px;
      margin: 36px 0;
    }

    @include mobile-media-query {
      font-size: 16px;
      margin: 20px 0;
    }
  }

  &__cta {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    width: 100%;

    .hr {
      flex-grow: 1;
      margin: 0 16px;
      height: 1px;
      border-bottom: 1px dotted $forest;
      align-self: center;
    }

    & .subtitle {
      align-self: center;
      margin-bottom: 0;
    }
  }
}

.button {
  background-color: $black;
  border-radius: 2px;
  border-style: none;
  color: $linen;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'PPNeueBit-Bold', 'Tahoma', 'san-serif';
  font-size: 18px;
  height: 40px;
  justify-content: center;
  line-height: 18px;
  padding: 16px;
  text-transform: uppercase;
  height: fit-content;
  width: fit-content;

  &--chartreuse {
    background-color: $chartreuse;
    color: $black;
    border: 1px dotted $black-transparent;
  }

  &--chartreuse-text {
    color: $chartreuse;
    border: 1px dotted $chartreuse-transparent;
  }

  &--neon {
    background-color: $neon;
    color: $black;
    border: 1px dotted $black-transparent;
  }
}

.job {
  @include grid-layout;
  padding: 24px 0;
  align-items: end;

  &--title {
    svg {
      height: 24px;
      width: 24px;
      padding-right: 12px;
      align-self: center;
    }

    p {
      line-height: 1em;
    }
  }

  &--cta {
    margin-left: 8px;
  }
}

.toc--item {
  padding:8px 0 16px 0;
  margin-right:16px;

  p {
    line-height: 1em;
  }

  img {
    max-height: 24px;
    max-width: 100%;
    margin-left:8px;
  }
}

.dot-leader {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: end;

  .hr {
    margin-left: 8px;
    border-bottom: 1px dotted $forest-transparent;
    content: '';
    flex-grow: 1;
  }
}

.container {
  @include grid-layout;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 48px;
}

.content {
  &--flex {
    display: flex;
  }

  &--wrapper {
    @include desktop-media-query {
      padding: 0 16px;
    }

    padding: 0 8px;
  }

  &--center {
    justify-self: center;
  }

  &--right {
    justify-self: end;
  }
}

img, video {
  max-width: 100%;
}

p {
  font-size: 1.16em;
  line-height: 1.4em;
}


h1 {
  font-size: 56px;
  margin: 48px 0;
  font-weight: 400;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 36px;
  margin: 24px 0;
  font-weight: 400;
  letter-spacing: -0.05em;
}

h3 {
  font-size: 24px;
  margin: 24px 0;
}



.content--bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.subtitle {
  font-family: 'PPNeueBit-Bold', 'Tahoma', 'san-serif';
  font-size: 24px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.navbar {
  background-color: $linen;
  padding-top: 8px;

  &__right {
    grid-column: col-start 9/ span 4;
  }

  &__left {
    grid-column: col-start / span 4;
  }

  &__content {
    @include grid-layout;
    margin: 0 14px;
  }

  svg {
      fill: $black;
    }

  a {
    align-self: flex-end;
    color: $black;
    font-family: 'PPNeueBit-Bold', 'Tahoma', 'san-serif';
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    
    &:not(:last-child) {
      margin-right: 40px;
    }

    @include tablet-media-query {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    @include mobile-media-query {
      font-size: 12px;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  &__logo {
    padding-top: 24px;
    position: relative;
    grid-column: col-start 5/ span 4;
    width: 150px;

    img {
      transition: opacity 0.15s ease;
    }

    &--standard {
      opacity: 1;
    }

    &--pixelate {
      position: absolute;
      left: 0;
      opacity: 0;
    }

    &:hover {
      .navbar__logo--standard {
        opacity: 0;
      }
  
      .navbar__logo--pixelate {
        opacity: 1;
      }
    }
  }
}

.slogan-strip {
  @include grid-layout;
  color: $black;
  margin: 0 14px;
  
  &__left {
    grid-column: col-start / span 3;
  }

  &__right {
    grid-column: col-start 10/ span 3;
  }

  &__slogan {
    font-family: 'PPNeueBit-Bold', 'Tahoma', 'san-serif';
    font-size: 20px;
    text-transform: uppercase;
    padding: 4px 0;
    grid-column: col-start 4/ span 6;
  }

  &__icon {
    height: 14px;
    width: 14px;
    margin: 9px 8px;
    display: inline-block;
    color: $black;

    &:not(:first-child):not(:last-child) {
      margin: 0 8px;
    }
  }
}

.footer {
  background-color: $black;
  color: $linen;
  padding-top: 64px;
  padding-bottom: 8px;

  &__content {
    margin-bottom:16px;
  }

  &__logo {
    max-height: 32px;
  }

  &__site-map {
    margin-bottom: 24px;
  }

  &__cta {
    margin-top: 48px;
  }

  &__legal-section {
    @include grid-layout;
    font-family: "PPNeueBit-Bold", "Tahoma", "san-serif";
    padding-top: 4px;
    text-transform: uppercase;

    &__slogan {
      @include mobile-media-query {
        max-width: 90%;
      }
      @include tablet-media-query {
        max-width: 90%;
      }
    }

    @include mobile-media-query {
      padding-bottom: 72px;
    }
    @include tablet-media-query {
      padding-bottom: 72px;
    }
  }

  &__copyright {
    justify-self: center;

    @include mobile-media-query {
      order: 1;
    }
    @include tablet-media-query {
      order: 1;
    }
    @include desktop-media-query {
      justify-self: start;
    }
  }

  &__description {
    justify-self: center;

    @include desktop-media-query {
      justify-self: end;
    }
    @include mobile-media-query {
      padding-bottom: 16px;
      padding-top: 28px;
      text-align: center;
    }
    @include tablet-media-query {
      padding-bottom: 16px;
      padding-top: 28px;
      text-align: center;
    }
  }

  &__logomark {
    padding-bottom: 28px;
    padding-right: 24px;
  }

  &__slogan {
    font-family: 'PPNeueBit-Bold', 'Tahoma', 'san-serif';
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.1em;
    padding: 4px 0;
  }

  &__icon {
    height: 14px;
    width: 14px;
    display: inline-block;
    color: $black;
    margin: 9px 9px;

    &--linen {
      color: $linen;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    padding-top: 48px;

    a {
      color: $linen;
      text-decoration: none;
      margin-bottom: 16px;
    }
  }

  &__icon-set {
    margin: 0 8px;
  }

  &__cage-code-section {
    @include grid-layout;
    font-family: "UntitledSerif", "Times New Roman", serif;
    margin-top: 48px;
    margin-bottom: 24px;

    &__name {
      font-family: 'PPNeueBit-Bold', 'Tahoma', 'san-serif';
      font-size: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &__value {
      margin-bottom: 16px;
    }

    @include desktop-media-query {
      margin-top: 84px;
      padding: 0 8px;
    }
  }

  &__desktop-logo {
    align-items: flex-end;
    flex-direction: row-reverse;
  }

  &__mobile-logo {
    text-align: center;
  }
}

@include tablet-media-query {
  .container {
    max-width: 769px;
    padding: 0 24px;
  }

  .section {
    &--subtitle {
      margin: 32px 0;
    }

    &--spacing {
      padding: 0 0 36px 0;
    }
  }

  h1 {
    font-size: 32px;
    margin: 36px 0;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 1em;
    line-height: 1.2em;
  }
}

@include mobile-media-query {
  .container {
    max-width: 376px;
    padding: 0 16px;
  }

  .section {
    &--subtitle {
      margin: 32px 0;
    }

    &--spacing {
      padding: 0 0 28px 0;
    }
  }

  h1 {
    font-size: 24px;
    margin: 20px 0;
  }
}

.blog-post-card {
  padding: 8px 8px 32px 8px;
  margin-bottom: 32px;

  &--homepage {
    padding: 8px 8px 8px 32px;
  }

  &__intro-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;  
    margin-bottom: 16px;
  }

  &__img {
    height: 30px;
    width: 30px;
  }

  &__cta {
    margin-top: 24px;
    display: flex;
    justify-content: end;
  }
}