@use "foundation" as *;

// Shared Components

.section {
  &--bg-linen {
    background-color: $linen;
  }

  &--bg-dark-linen {
    background-color: $dark-linen;
  }

  &--bg-chartreuse {
    background-color: $chartreuse;
  }

  &--bg-black {
    background-color: $black;
  }
  &--spacing {
    padding: 98px 0;
  }

  &--intro {
    @include grid-layout;

    h1 {
      margin-top: 0;
    }
  }

  &--subtitle {
    font-family: 'PPNeueBit-Bold', 'Tahoma', 'san-serif';
    font-size: 16px;
    margin-bottom: 32px;
    text-transform: uppercase;
  }


  &--content-block {
    @include grid-layout;
  }

}

.hero {
  &__content {
    text-align: center;
  }

  &__cta {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    width: 100%;

    .hr {
      flex-grow: 1;
      margin: 0 16px;
      height: 1px;
      border-bottom: 1px dotted $forest;
      align-self: center;
    }

    & .subtitle {
      align-self: center;
      margin-bottom: 0;
    }
  }
}

.button {
  background-color: $black;
  border-radius: 2px;
  border-style: none;
  color: $linen;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'PPNeueBitBold', 'Tahoma', 'san-serif';
  font-size: 18px;
  height: 40px;
  justify-content: center;
  line-height: 18px;
  padding: 16px;
  text-transform: uppercase;

  &--chartreuse {
    background-color: $chartreuse;
    color: $black;
    border: 1px dotted $black-transparent;
  }

  &--chartreuse-text {
    color: $chartreuse;
    border: 1px dotted $chartreuse-transparent;
  }

  &--neon {
    background-color: $neon;
    color: $black;
    border: 1px dotted $black-transparent;
  }
}

.job {
  @include grid-layout;
  padding: 24px 0;
  align-items: end;

  &--title {
    img {
      height: 24px;
      width: 24px;
      padding-right: 12px;
      align-self: center;
    }
  }

  p {
    line-height: 1em;
  }

  &--cta {
    margin-left: 8px;
  }
}

.toc--item {
  padding:8px 0 16px 0;
  margin-right:16px;

  p {
    line-height: 1em;
  }

  img {
    max-height: 24px;
    max-width: 100%;
    margin-left:8px;
  }
}

.dot-leader {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: end;

  .hr {
    margin-left: 8px;
    border-bottom: 1px dotted $forest-transparent;
    content: '';
    flex-grow: 1;
  }
}

.container {
  @include grid-layout;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 48px;
}

.content {
  &--flex {
    display: flex;
  }

  &--wrapper {
    padding: 0 16px;
  }

  &--center {
    justify-self: center;
  }

  &--right {
    justify-self: end;
  }
}

img {
  max-width: 100%;
}

.illo-temp {
  display: flex;
  background-color: $chartreuse;
  border: 1px dotted hotpink;

  p {
    font-family: 'PPNeueBit-Bold', 'Tahoma', 'san-serif';
    font-size: 14px;
    text-transform: uppercase;
    color: hotpink;
    align-self: center;
    margin: 0 auto;
  }
  &--midsize {
    aspect-ratio: 30/17;
    margin-top: 24px;
  }

  &--spot {
    height: 64px;
    width: 64px;
    margin-bottom: 16px;

    p{
      width: 30px;
    }
  }
}

p {
  font-size: 1.16em;
  line-height: 1.4em;
}


h1 {
  font-size: 56px;
  margin: 48px 0;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  margin: 24px 0;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  margin: 24px 0;
}



.content--bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.subtitle {
  font-family: 'PPNeueBit-Bold', 'Tahoma', 'san-serif';
  font-size: 14px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.large-text {
  font-size: 1.4em;
}

.small-text {
  font-size: 14px;
}

.navbar {
  background-color: $linen;
  padding-top: 8px;

  &__right {
    grid-column: col-start 9/ span 4;
  }

  &__left {
    grid-column: col-start / span 4;
  }

  &__content {
    @include grid-layout;
    margin: 0 14px;
  }

  svg {
      fill: $black;
    }

  a {
    align-self: flex-end;
    color: inherit;
    font-family: 'PPNeueBitBold', 'Tahoma', 'san-serif';
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__title {
    padding-top: 24px;
    grid-column: col-start 5/ span 4;

    a {
      font-family: 'UntitledSerif', 'Times New Roman', serif;
      text-transform: none;
      font-size: 32px;
      letter-spacing: -2px;
    }
  }
}

.slogan-strip {
  @include grid-layout;
  margin: 0 14px;
  
  &__left {
    grid-column: col-start / span 3;
  }

  &__right {
    grid-column: col-start 10/ span 3;
  }

  &__slogan {
    font-family: 'PPNeueBitBold', 'Tahoma', 'san-serif';
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px 0;
    grid-column: col-start 4/ span 6;
  }

  &__icon {
    height: 8px;
    width: 8px;
    display: inline-block;
    color: $black;

    &:not(:first-child):not(:last-child) {
      margin: 0 8px;
    }
  }
}

.footer {
  background-color: $black;
  color: $linen;
  padding-top: 64px;
  padding-bottom: 8px;

  &__content {
    margin-bottom:16px;
  }

  &__logo {
    max-height: 32px;
  }

  &__site-map {
    margin-bottom: 24px;
  }

  &__message {
    @include grid-layout;
    margin-top: 48px;
    margin-bottom: 24px;
  }

  &__cta {
    margin-top: 48px;
  }

  &__legal-section {
    @include grid-layout;
    padding-top: 4px;
  }

  &__slogan {
    font-family: 'PPNeueBitBold', 'Tahoma', 'san-serif';
    font-size: 12px;
    padding: 4px 0;
  }

  &__icon {
    height: 8px;
    width: 8px;
    display: inline-block;
    color: $black;
    margin: 0 5px;

    &--linen {
      color: $linen;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    padding-top: 122px;

    a {
      color: $linen;
      text-decoration: none;
      margin-bottom: 16px;
    }
  }
}

@include tablet-media-query {
  .container {
    max-width: 769px;
    padding: 0 24px;
  }

  .section--spacing {
    padding: 60px 0;
  }

  h1 {
    font-size: 36px;
    margin: 36px 0;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 1em;
    line-height: 1.2em;
  }
}

@include mobile-media-query {
  .container {
    max-width: 376px;
    padding: 0 16px;
  }

  #slogan-strip {
    display: none;
  }
  
  .section--spacing {
    padding: 36px 0;
  }

  h1 {
    font-size: 24px;
    margin: 20px 0;
  }
}
